/* Estilo geral da página */
body {
    background-color: #F8FBFB;
    font-family: "Outfit", sans-serif;
    margin: 20px;
    padding: 0 20px; /* Aumentar a margem lateral */
}

.doações {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.doação {
    width: 325px;
    background-color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1.5rem; /* Margem nas laterais do card */
}

/* Cabeçalho com imagem e nome da instituição */
.cabecalho {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cabecalho img {
    width: 40px;
    height: 40px;
}

.cabecalho h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

/* Seção da data, status e botão */
.doacao-dois {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data {
    font-size: 0.9rem;
    color: #494945;
    font-weight: 500;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px; /* Pequeno ajuste de margem para o alinhamento */
    margin: 0%;
}

.status_desc {
    font-size: 0.8rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 0%; /* Aproxima o status e a descrição */
}

#status_status {
    margin: 0%;
}

.agendada {
    color: #ff9100;
    font-weight: bold;
}

.realizada {
    color: #00aa25;
    font-weight: bold;
}

/* Estilo do botão "Ver mais" */
.ver-mais {
    background-color: #FFC600;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ver-mais:hover {
    background-color: #ffb800;
}


.navbar {
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 120px rgba(58, 86, 78, 0.10));
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 96%;
    border-radius: 1rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    height: 4.625rem;
    position: fixed;
    bottom: 0;
}