html {
    background-color: #F4F4F4;
    font-family: "Outfit", sans-serif;
}

main, header {
    justify-content: center;
    font-family: "Outfit", sans-serif;
    margin-bottom: 90px;
    padding: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.campos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

input {
    background-color: #ffffff;
    font-family: "Outfit", sans-serif;
    color: #6D6A6A;
    font-size: 20px;
    font-weight: 600;
    width: 330px;
    height: 46px;
    border-radius: 15px;
    padding: 5px;
    border: solid 1.8px;
    border-color: #FFC600;
    outline: 0;
}

#handleSubmit {
    padding: 5px;
    border-radius: 15px;
    width: 345px;
    height: 46px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFC600;
    color: #ffffff;
    border: 0 none;
    margin-top: 20px;
}

::placeholder {
    font-family: "Outfit", sans-serif;
    padding-left: 8px;
}