html {
    background-color: #F8FBFB;
    font-family: "Outfit", sans-serif;
}

main {
    font-family: "Outfit", sans-serif;
    justify-content: center;
    margin-bottom: 90px;
    margin-left: 25px;
    margin-right: 25px;
}

h1 {
    font-size: 24px;
}

.flecha {
    padding-right: 10px;
    padding-left: 0%;
}

.cabecalho-div {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.opcao {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 300px;
    min-height: 57.82px;
    max-height: 200px;
    border-radius: 20px;
    box-shadow: 0px 4px 120px 0px rgba(58, 86, 78, 0.15);
    justify-content: space-between;
    padding: 10px 20px;
    overflow: hidden;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    height: 46px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFC600;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.quantidade {
    font-weight: bold;
    font-size: 170%;
    color: #000000;
    margin-right: 10px;
    white-space: nowrap;
}

.item {
    font-size: 150%;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
    flex-grow: 1;
    margin-right: 10px;
    min-width: 0;
}

div {
    display: flex;
    gap: 10px;
}

.navbar {
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 120px rgba(58, 86, 78, 0.10));
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 96%;
    border-radius: 1rem;
    height: 4.625rem;
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
}

button.excluir, button.editar {
    background: none;
    border: none;
    cursor: pointer;
}

button.excluir svg {
    fill: #FF5733;
}

button.editar svg {
    fill: #28a745;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.conteudo-popup {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 120px 0px rgba(58, 86, 78, 0.15);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fechar {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover,
.fechar:focus {
    color: black;
}

.input-popup {
    width: 325px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: "Outfit", sans-serif;
}

.input-popup::placeholder {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 650;
}
